@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$MarineBlue: hsl(213, 96%, 18%);
$PurplishBlue: hsl(243, 100%, 62%);
$PastelBlue: hsl(228, 100%, 84%);
$LightBlue: hsl(206, 94%, 87%);
$StrawberryRed: hsl(354, 84%, 57%);

$CoolGray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin smaller-tablet {
  @media (max-width: 825px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin smaller-mobile {
  @media (max-width: 355px) {
    @content;
  }
}

@mixin landscape-mobile {
  @media (max-height: 376px) and (orientation: landscape) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .2s;
}

html {
  height: 100%;
  background-color: $Magnolia;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  @include mobile {
    min-height: 100%;
    height: auto;
  }
  @include landscape-mobile {
    height: auto;
    margin-bottom: 100px;
  }
  button {
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    &:hover {
      outline: 0;
    }
  }
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include smaller-tablet {
    display: block;
    height: max-content;
  }
  .step-form-number {
    width: max-content;
    color: $White;
    font-size: 18px;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1.5px solid $White;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .step-form-number.active {
    background-color: $LightBlue;
    border: 0;
    color: $MarineBlue;
  }
}

.mobile-topside-container {
  display: none;
  justify-content: center;
  padding-top: 46px;
  position: absolute;
  background-image: url('/image/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: -1;
  .mobile-topside-step-number-list {
    display: flex;
    column-gap: 18px;
    list-style: none;
    height: max-content;
  }
  @include smaller-tablet {
    display: flex;
  }
  @include mobile {
    padding-top: 30px;
  }
}

.container {
  background-color: $White;
  height: 40rem;
  width: max-content;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 16px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  @include smaller-tablet {
    height: 38rem;
    margin-top: 120px;
    padding: 5px;
  }
  @include mobile {
    padding-bottom: 35px;
    padding-top: 35px;
    height: max-content;
    width: 92%;
    margin-top: 90px;
    margin-bottom: 100px;
  }
  .container-sidebar {
    user-select: none;
    height: 100%;
    background-image: url('/image/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 294px;
    padding: 20px 35px;
    filter: brightness(110%);
    @include smaller-tablet {
      display: none;
    }
    .aside-step-section {
      display: flex;
      align-items: center;
      height: 70px;
      .aside-form-text-section {
        margin-left: 20px;
        text-transform: uppercase;
        letter-spacing: .5px;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        .step-form-text {
          color: $CoolGray;
          font-size: 18px;
          font-weight: 500;
          font-size: 13.5px;
        }
        .aside-form-text {
          font-size: 14.5px;
          color: $White;
        }
      }
    }
  }
  .container-main {
    position: relative;
    width: max-content;
    height: 100%;
    padding: 40px 0 20px 0px;
    margin-right: calc(90px - 16px);
    margin-left: 90px;
    @include tablet {
      margin-left: 40px;
      margin-right: calc(45px - 16px);
    }
    @include smaller-tablet {
      width: 500px;
      margin-left: 20px;
      margin-right: 20px;
    }
    @include mobile {
      position: static;
      padding-top: 0;
      padding-bottom: 19px;
    }
    .step-heading-section {
      margin-bottom: 40px;
      @include mobile {
        margin-bottom: 30px;
      }
      .step-heading-text {
        font-size: 32px;
        color: $MarineBlue;
        font-weight: 700;
        margin-bottom: 12px;
        @include mobile {
          font-size: 26px;
        }
        @include smaller-mobile {
          font-size: 24px;
        }
      }
      .step-under-heading-text {
        color: $CoolGray;
        font-size: 16.5px;
        line-height: 1.5;
        @include smaller-mobile {
          font-size: 15px;
        }
      }
    }
    .main-step-div {
      width: 480px;
      @include tablet {
        width: 380px;
      }
      @include smaller-tablet {
        width: 100%;
      }
    }
    .first-step-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 380px;
      &:not(.active) {
        display: none;
      }
      .first-step-form-section {
        form {
          display: flex;
          flex-direction: column;
          height: 270px;
          justify-content: space-between;
          .first-step-input-section {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            .first-step-input-label-section {
              display: flex;
              width: 100%;
              justify-content: space-between;
              .first-step-label-text {
                color: $MarineBlue;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 3px;
              }
              .first-step-error-text {
                color: $StrawberryRed;
                font-size: 14px;
                font-weight: 700;
                visibility: hidden;
              }
              .first-step-error-text.error {
                visibility: visible;
              }
            }
            .first-step-input {
              height: 48px;
              border-radius: 8px;
              border: 1px solid $Lightgray;
              padding: 0 16px;
              font-size: 16px;
              color: $MarineBlue;
              font-weight: 600;
              &:focus {
                outline: 0;
                border: 1px solid $PurplishBlue;
              }
              &::placeholder {
                color: $CoolGray;
                font-weight: 500;
              }
            }
            .first-step-input.error {
              border: 1px solid $StrawberryRed;
            }
          }
        }
      }
    }
    .second-step-div {
      &:not(.active) {
        display: none;
      }
      .second-step-plan-section {
        .second-step-choose-plan-section {
          display: flex;
          justify-content: space-between;
          gap: 18px;
          @include mobile {
            flex-direction: column;
          }
          .second-step-choose-plan-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 18px 15px;
            border: 1px solid $Lightgray;
            border-radius: 8px;
            background-color: $White;
            color: $MarineBlue;
            font-size: 17px;
            font-weight: 600;
            height: 190px;
            width: 100%;
            @include mobile {
              height: max-content;
              padding-top: 18px;
              padding-bottom: 18px;
              flex-direction: row;
              column-gap: 20px;
            }
            &:hover {
              border: 1px solid $PurplishBlue;
            }
            .second-step-plan-describe-section {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .second-step-plan-level-text {
                width: max-content;
                font-size: 17px;
                margin-bottom: 7px;
                @include mobile {
                  font-size: 16px;
                }
              }
              .second-step-plan-price-text {
                font-size: 15px;
                color: $CoolGray;
                font-weight: 400;
                @include mobile {
                  font-size: 14px;
                }
              }
              .second-step-choose-yearly-text {
                font-size: 14px;
                color: $MarineBlue;
                font-weight: 500;
                margin-top: 9px;
                @include mobile {
                  margin-top: 6px;
                }
                &:not(.active) {
                  display: none;
                }
              }
            }
          }
          .second-step-choose-plan-btn.chosen {
            border: 1px solid $PurplishBlue;
            background-color: #f6f6f6;
          }
          .second-step-choose-plan-btn.error {
            border: 1px solid $StrawberryRed;
          }
        }
        .second-step-toggle-section {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 35px;
          width: 100%;
          height: 52px;
          border-radius: 8px;
          background-color: $Alabaster;
          @include mobile {
            margin-top: 25px;
            column-gap: 25px;
          }
          @include smaller-mobile {
            column-gap: 18px;
          }
          .second-step-toggle-switch {
            height: 22px;
            width: 45px;
            border-radius: 45px;
            background-color: $MarineBlue;
            position: relative;
            cursor: pointer;
            &:after {
              content: '';
              position: absolute;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              background-color: $White;
              top: 50%;
              left: 3.5px;
              transform: translate(0, -50%);
              transition: .1s;
            }
            &:hover:after {
              left: 7px;
              transition: .1s;
            }
          }
          .second-step-toggle-switch.switched {
            &::after {
              left: 26.5px;
            }
          }
          .second-step-toggle-text {
            color: $MarineBlue;
            font-size: 14.5px;
            font-weight: 500;
            &:not(.active) {
              color: $CoolGray;
            }
          }
        }
      }
    }
    .third-step-div {
      &:not(.active) {
        display: none;
      }
      .third-step-add-ons-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .third-step-add-ons-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $White;
          height: 85px;
          border: 1px solid $Lightgray;
          border-radius: 8px;
          width: 100%;
          padding: 0px 25px;
          @include mobile {
            height: max-content;
            padding: 15px;
          }
          &:hover {
            border: 1px solid $PurplishBlue;
          }
          .third-step-add-ons-btn-leftside {
            display: flex;
            align-items: center;
            text-align: left;
            column-gap: 23px;
            @include mobile {
              column-gap: 13px;
            }
            .third-step-add-ons-checkbox {
              appearance: none;
              -webkit-appearance: none;
              background-color: transparent;
              border: 1px solid $Lightgray;
              height: 20px;
              width: 20px;
              border-radius: 5px;
              position: relative;
              cursor: pointer;
              &:checked {
                border: 0;
                background-color: $PurplishBlue;
              }
              &:checked::after {
                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 13px;
                color: $White;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            .third-step-add-ons-btn-middle-text {
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              margin-right: 16px;
              .third-step-add-ons-btn-heading-text {
                font-size: 17px;
                color: $MarineBlue;
                font-weight: 500;
                line-height: 1.3;
                @include mobile {
                  font-size: 15px;
                }
              }
              .third-step-add-ons-btn-under-heading-text {
                font-size: 15px;
                color: $CoolGray;
                font-weight: 400;
                line-height: 1.3;
                @include mobile {
                  font-size: 14px;
                }
              }
            }
          }
          .third-step-add-ons-btn-rightside {
            .third-step-add-ons-btn-rightside-price-text {
              font-size: 14.5px;
              color: $PurplishBlue;
              font-weight: 400;
            }
          }
        }
      }
    }
    .fourth-step-div {
      &:not(.active) {
        display: none;
      }
      .fourth-step-summary-section {
        height: max-content;
        width: 100%;
        background-color: #f6f6f6;
        border-radius: 8px;
        padding: 22px;
        .fourth-step-summary-topside-section {
          border-bottom: 1px solid $Lightgray;
          padding-bottom: 28px;
          display: flex;
          align-items: center;
          @include mobile {
            padding-bottom: 20px;
          }
          .fourth-step-summary-topside-leftside-section {
            width: 100%;
            .fourth-step-summary-topside-heading-text {
              font-size: 17px;
              color: $MarineBlue;
              font-weight: 500;
              margin-bottom: 7px;
              @include mobile {
                font-size: 15.5px;
                margin-bottom: 5px;
              }
            }
            .fourth-step-summary-topside-change-link {
              font-size: 14px;
              color: $CoolGray;
              font-weight: 500;
              text-decoration-thickness: 2px;
              &:hover {
                color: $PurplishBlue;
              }
            }
          }
          .fourth-step-summary-topside-rightside-price-text {
            font-size: 17px;
            color: $MarineBlue;
            font-weight: 600;
            @include mobile {
              font-size: 16px;
            }
          }
        }
        .fourth-step-summary-bottomside-section {
          padding-top: 20px;
          padding-bottom: 5px;
          display: flex;
          flex-direction: column;
          row-gap: 22px;
          .fourth-step-summary-bottomside-text-section {
            display: flex;
            justify-content: space-between;
            .fourth-step-summary-bottomside-left-heading-text {
              font-size: 15px;
              color: $CoolGray;
              font-weight: 400;
              @include mobile {
                font-size: 14.5px;
              }
            }
            .fourth-step-summary-bottomside-right-price-text {
              font-size: 15px;
              color: $MarineBlue;
              font-weight: 500;
              @include mobile {
                font-size: 14px;
              }
            }
          }
        }
      }
      .fourth-step-summary-footer-section {
        padding-top: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        .fourth-step-summary-footer-leftside-text {
          font-size: 15px;
          color: $CoolGray;
          font-weight: 400;
          @include mobile {
            font-size: 14.5px;
          }
        }
        .fourth-step-summary-footer-total-price-text {
          font-size: 22px;
          color: $PurplishBlue;
          font-weight: 600;
          @include mobile {
            font-size: 18px;
          }
        }
      }
    }
    .five-step-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;
      height: 100%;
      padding-bottom: 80px;
      @include mobile {
        padding-bottom: 0;
      }
      &:not(.active) {
        display: none;
      }
      .five-step-text-section {
        text-align: center;
        .five-step-under-heading-text {
          font-size: 34px;
          color: $MarineBlue;
          font-weight: 700;
          margin-bottom: 14px;
        }
        .five-step-under-under-heading-text {
          font-size: 16.7px;
          color: $CoolGray;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .step-aside-btn-container {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 100%;
      @include mobile {
        background-color: $White;
        padding: 15px 20px; 
        bottom: 0;
      }
      .step-aside-btn {
        position: relative;
        border: 0;
        color: $White;
        font-size: 16px;
        height: 48px;
        width: 120px;
        border-radius: 6px;
      }
      .step-aside-next-btn {
        background-color: $MarineBlue;
        &:hover {
          filter: brightness(140%);
          transform: translate(8px);
        }
      }
      .step-aside-confirm-btn {
        background-color: $PurplishBlue;
        &:not(.active) {
          display: none;
        }
        &:hover {
          background-color: $PastelBlue;
        }
      }
      .step-aside-back-btn {
        position: relative;
        border: 0;
        background-color: $White;
        color: $MarineBlue;
        font-size: 16px;
        width: max-content;
        font-weight: 600;
        border-radius: 8px;
        &:not(.active) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  } 
}

